/*==========================Authorization================================================*/

.main{
  display: flex;
  justify-content: center;
}
.content{
  width: 400px;
  height: 450px;
}
.logo{
  width: 70px;
  height: 70px;
  background-color: red;
}
.label{
  width: 400px;
  height: 60px;
}
.label p{
  font-size: 30px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}


.mail{
  width: 400px;
  height: 80px;
}

.pass{
  width: 400px;
  height: 80px;
}

.input-box{
  width: 400px;
  height: 60px;
  border: 1px solid #d1d1d1;
  font-size: 20px;
  border-radius: 5px;
}

.pass-input-box{
  width: 400px;
  height: 60px;
  border: 1px solid #d1d1d1;
  font-size: 20px;
  border-radius: 5px;
}

.input-box-focus{
  width: 400px;
  height: 60px;
  font-size: 25px;
  border: 2px solid #0095ff;
  outline: 0px;
  border-radius: 5px;
}

.butt{
  width: 400px;
  height: 80px;
}

.submit{
  width: 400px;
  height: 50px;
  background-color: #178ee3;
  border: 0px;
  border-radius: 30px;
  font-size: 15px;
  color: white;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  outline: 0px;
}

.submit:hover:not(:active) {
  background-color: #0b6bb0;
}
.act{
  width: 400px;
  height: 80px;
  display: flex;
  justify-content: center;
}
.act a{
  text-decoration: none;
  color: #178ee3;
}
.act a:hover{
  text-decoration: underline;
}

.l_act{
  width: 150px;
  height: 80px;
  font-size: 17px;
  color: #178ee3;
  display: flex;
  justify-content: space-around;
}
.r_act{
  width: 150px;
  height: 80px;
  font-size: 17px;
  display: flex;
  justify-content: space-around;
}
/*==========================Registration================================================*/

.reg_content{
  width: 600px;
  height: 600px;
  display: flex;
  flex-flow: column;
}


.up_content{
  display: flex;
  justify-content: center;
}
.l_up_content{
  width: 350px;
  height: 70px;
  display: flex;
  justify-content: flex-end;
}
.r_up_content{
  width: 250px;
  height: 70px;
  display:flex;
  justify-content: flex-end;
}

.submit_reg{
  margin-top: 10px;
  width: 100px;
  height: 50px;
  background-color: #178ee3;
  border: 0px;
  border-radius: 30px;
  font-size: 15px;
  color: white;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  outline: 0px;
}

.submit_reg:hover:not(:active) {
  background-color: #0b6bb0;
}

.label_reg{
  width: 600px;
  height: 60px;
}
.label_reg p{
  font-size: 25px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 45px;
}

.reg_login{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.reg_name{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.reg_pass{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}




.reg-input-box{
  width: 500px;
  height: 45px;
  border: 1px solid #d1d1d1;
  font-size: 20px;
  border-radius: 5px;
}
.reg-input-name{
  width: 500px;
  height: 45px;
  border: 1px solid #d1d1d1;
  font-size: 20px;
  border-radius: 5px;
}

.reg-pass-box{
  width: 500px;
  height: 45px;
  border: 1px solid #d1d1d1;
  font-size: 20px;
  border-radius: 5px;
}

.reg-input-box-focus{
  width: 500px;
  height: 45px;
  font-size: 25px;
  border: 2px solid #0095ff;
  outline: 0px;
  border-radius: 5px;
}

.label_date{
  width: 600px;
  height: 60px;
}
.label_date p{
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 45px;
}
.label_date_to{
  width: 600px;
  height: 60px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
.label_date_to p{
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

.input_date{
  width: 600px;
  height: 60px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.day{
   margin-left: 65px;
   font-size: 16px;
   width: 75px;
   border: 1px solid #d1d1d1;
   height: 30px;
   border-radius: 5px;
}

.day-focus{
  margin-left: 65px;
  font-size: 16px;
  width: 75px;
  height: 30px;
  border: 2px solid #0095ff;
  outline: 0px;
  border-radius: 5px;
}

.month{
   margin-right: 0px;
   font-size: 16px;
   width: 100px;
   border: 1px solid #d1d1d1;
   height: 30px;
   border-radius: 5px;
}

.month-focus{
  margin-right: 0px;
  font-size: 16px;
  width: 100px;
  border: 2px solid #0095ff;
  height: 30px;
  outline: 0px;
  border-radius: 5px;
}

.year{
   margin-right: 30px;
   font-size: 16px;
   width: 100px;
   border: 1px solid #d1d1d1;
   height: 30px;
   border-radius: 5px;
}

.year-focus{
  margin-right: 30px;
  font-size: 16px;
  width: 100px;
  border: 2px solid #0095ff;
  height: 30px;
  outline: 0px;
  border-radius: 5px;
}
